!!!doctype

%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content =>"IE=edge,chrome=1", "http-equiv"=>"X-UA-Compatible"}
    %meta{:name => "Description", :content=>"#{config.description}"}
    %meta{:name => "Keywords", :content=>"#{config.keywords}"}

    %title= config.title || "TransformOne - Cloud Clinical Trial Solution"

    %link{:rel=> "stylesheet", :href => "stylesheets/normalize.css", :type => "text/css"}
    %link{:rel=> "stylesheet", :href => "stylesheets/all.css", :type => "text/css"}

  %body
    #header
      .content
        #logo
          %img{:src => "/images/logo.jpg", :height => "72px"}
        %ul.nabbar
          %li
            %a{:href => "/index.html"} Home
          %li
            %a{:href => "/solution.html"} Solution
          %li
            %a{:href => "/team.html"} Team
          %li
            %a{:href => "/blog.html"} Blog
          %li
            %a{:href => "/contact.html"} Contact

    .main
      = yield

    #foot
      .content
        %h2 Your Cloud, Your Trial, Live in a Short While!
    #copyright
      Copyright 2009 - 2013 TransformOne.com, LLC. All rights reserved.

    %script{:src => "/javascripts/jquery.js", :type => "text/javascript"}
    :coffee
      $(document).ready ()->
        $(".nabbar li a[href*=#{data.page.current_page}]").parent().addClass('current')
            
